.gameTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.buttonClass {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.buttonClass button {
    height: 75;
    width: 150;
    font-size: 20px;
    color: black;
    background-color: yellow;
}

button:hover {
    box-shadow: 1px 1px black;
}

.winningImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.winningImage img {
    width: 500px;
    height: 500px;
}